# ------------------------------------------------------------------------------
# Commsec: set keys that will be compiled into the GCS and SMACCMPilot binaries
# here.

# IDs must be 0 <= key < 16 currently.  See src/crypto/include/commsec.h
UAV_ID    := 7
BASE_ID   := 5

# Keys must be a list of 16 unsigned bytes.
UAV_KEY   := [15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0]
BASE_KEY  := [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

# Salts are unsigned 32-bit integers.
UAV_SALT  := 9219834
BASE_SALT := 017235
